<html data-lt-installed="true">
  <%= partial "partials/head" %>
  <body>
    <section class="post-list post-content">
      <div class="post-data content">
        <h1 id="title"><%= current_article.title %></h1>

        <div class="post-subtitle">
          <p><%= current_article.data.subtitle %></p>
        </div>

        <%= yield %>
      </div>
    </section>
  </body>
  <%= partial "partials/footer" %>
</html>

