<html data-lt-installed="true">
  <%= partial "partials/head" %>
  <body>
    <section class="post-list post-content"><div class="post-data">
      <h1 id="title"><%= current_article.title %></h1>

      <span class="post-subtitle">
        <%= current_article.data[:subtitle] %>
      </span>

      <%= yield %>

    </section>
  </body>
  <%= partial "partials/footer" %>
</html>

