---
title: Home
pageable: true
---

<section class="post-list row">

  <!-- Pagination -->
  <div class="pagination-wrapper">
    <nav class="pagination" role="pagination">
      <% if paginate && num_pages > 1 %>
        <% if prev_page %>
          <p><%= link_to '<i class="fa-solid fa-chevron-up"></i>', prev_page %></p>
        <% end %>
      <% end %>
    </nav>
  </div>

  <!-- Blog posts list -->
  <% page_articles.each do |article| %>
    <div class="col-xs-12 col-sm-12 col-lg-12 post-line">
      <span class="post-titles"><a href="<%= article.url %>"><h1><%= article.title %></h1></a></span>
      <time class="dates"><br><%= article.date.strftime('%b %e %Y') %></time>
    </div>
  <% end %>

  <!-- Pagination -->
  <div class="pagination-wrapper">
    <nav class="pagination" role="pagination">
      <% if paginate %>
        <p class="pagination-index">Page <%= page_number %> of <%= num_pages %></p>
        <% if next_page %>
          <p><%= link_to '<i class="fa-solid fa-chevron-down"></i>', next_page %></p>
        <% end %>
      <% end %>
    </nav>
  </div>
</section>



